{% load static i18n %}
{% load tag_library %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <!-- <link rel="stylesheet" href="{% static 'css/print.css' %}" /> -->
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
  </head>
  {% load inlinecss %} {% inlinecss "print_template_seven.css" %}
  <body>
    <div id="wrapper"></div
    {% if type != "pdf" %}
    <div class="header">
      <div class="empty"></div>
    </div>
    {% endif %}
    <div class="body">
      <div class="top-container">
      <div class="image-group">
        {% if company.CompanyLogo %}
        <div class="image-container">
          <img src="{{company.CompanyLogo}}" alt="" />
        </div>
        {% endif %}
        <div class="organisation-info">
          {% if company_name %}
          <span class="organisation-name">{{ company_name }}</span>
          {% else %}
          <span class="organisation-name">{{ company.CompanyName }}</span>
          {% endif %}
          <span class="organisation-other-info address">{{company.Address1}} {{company.Address2}} {{company.Address3}} {% if company.Address3 and company.City %},{% endif %} {{company.City}} {% if company.StateName and company.City %},{% endif %} {{company.StateName}} {{company.PostalCode}}</span>
        
        </div>
      </div>
      <div class="invoice-name-container">
        {% if settings.TransactionName %}
          <span class="invoice-name">{{ settings.TransactionName }}</span>
        {% elif invoice_type == "sales_invoice" %}
          {% if data.VAT_Treatment == "0" %}
          <span class="invoice-name">Tax Invoice</span>
          {% else %}
          <span class="invoice-name">Simplified Tax Invoice</span>
          {% endif %}
        {% elif invoice_type == "sales_return" %}
          <span class="invoice-name">Credit Note</span>
        {% elif invoice_type == "purchase_return" %}
          <span class="invoice-name">Debit Note</span>
        {% elif invoice_type == "sales_estimate" %}
          <span class="invoice-name">Sale Estimate</span>
        {% elif invoice_type == "sales_order" %}
          <span class="invoice-name">Sales Order</span>
        {% elif invoice_type == "purchase_invoice" %}
          <span class="invoice-name">Purchase Invoice</span>
        {% endif %}

        <div class="organization-info">
          {% if company.Mobile %}
          <span class="phone">PHONE: {{company.Mobile}}</span>
          {% endif %}

          {% if company.Email %}
          <span class="email">EMAIL: {{company.Email}}</span>
          {% endif %}

          {% if company.CRNumber %}
          <span class="email">CR No: {{company.CRNumber}}</span>
          {% endif %}
          {% if company.GSTNumber %}
          <span class="organisation-other-info"><b>GST No:</b> {{company.GSTNumber}}</span>
          {% endif %}
        </div>
      </div>
    </div>
      <table class="header-table">
        <tbody>
          <tr class="header">
           
            <td>
             
              {% if type == "pdf" %}
              <div class="invoice-info">
                {% if data.PrintCustomerName %}
                <span>Party Name: {{data.PrintCustomerName}}</span>
                {% else %}
                <span>Party Name: {{data.LedgerName}}</span>
                {% endif %}
                {% if data.Address1 or data.Address2 or data.Address3 or data.Citydata.StateName or data.PostalCode %}
                <span class="address">Billing Address: {{data.Address1}} {{data.Address2}} {{data.Address3}} {% if data.Address3 and data.City %},{% endif %} {{data.City}} {% if data.StateName and data.City %},{% endif %} {{data.StateName}} {{data.PostalCode}}</span>
                {% endif %}
                {% if data.GSTNumber %}
                <span>GSTN: {{data.GSTNumber}}</span>
                {% endif %}

                {% if data.Mobile %}
                <span>Phone No: {{data.Mobile}}</span>
                {% endif %}

                {% if data.GST_Treatment_Name %}
                <span>GST Treatment: {{data.GST_Treatment_Name}}</span>
                {% endif %}
            
                
              </div>
              {% else %}
              <div class="invoice-info">
                <span>Party Name: hello</span>
                <span class="address">Billing Address: Building No. UP 9/1230 B Unnikulam, Poonoor, Kerala 673574</span>
                <span>GSTN: 523452346134</span>
                <span>Phone No: 3463457234523</span>
                <span>GST Treatment: Consumer</span>
              </div>
              {% endif %}
            </td>
            {% if data.ShipAddress1 or data.ShipAddress2 or data.ShipCity or data.ShipStateName or data.ShipCountryName %}
            <td class="shipping-address">
              {% if type == "pdf" %}
              <div class="invoice-info">
                <span class="address">Shipping Address: {{data.ShipAddress1}} {{data.ShipAddress2}} {{data.ShipCity}} {{data.ShipDistrict}} {{data.ShipStateName}} {{data.PostalCode_Shipping}} {{data.ShipCountryName}}</span>
                <span>Phone No: {{data.Phone_Shipping}}</span>
              </div>
              {% else %}
              <div class="invoice-info">
                <span class="address">Shipping Address: Building No. UP 9/1230 B Unnikulam, Poonoor, Kerala 673574</span>
              </div>
              {% endif %}
            </td>
            {% endif %}
            <td class="invoice-details">
             
           
              {% if type != "pdf" %}
              <div class="voucher-info">
                <div class="voucher-group">
                  <span class="voucher-label">Invoice No:</span>
                  <span class="voucher-text">VIKN001UI</span>
                </div>
                <div class="voucher-group">
                  <span class="voucher-label">Date</span>
                 
                  <span class="voucher-text">21/12/2021</span>
                </div>
                <div class="voucher-group">
                  <span class="voucher-label">Time</span>
                 
                  <span class="voucher-text">9:00 AM</span>
                </div>
                <div class="voucher-group">
                  {% if invoice_type == "sales_invoice" or invoice_type == "sales_estimate" or invoice_type == "sales_order" or invoice_type == "sales_return" %}
                  <span class="voucher-label">Order No.</span>
                  {% else %}
                  <span class="voucher-label">Reference No.</span>
                  {% endif %}
                  <span class="voucher-text">324235</span>
                </div>
                {% comment %} <div class="voucher-group">
                  <span class="voucher-label">Place Of Supply:</span>
                 
                  <span class="voucher-text">Kozhikode</span>
                </div> {% endcomment %}
              </div>
              {% else %}
              <div class="voucher-info">
                <div class="voucher-group">
                  <span class="voucher-label">Invoice No:</span>
                  <span class="voucher-text">{{data.VoucherNo}}</span>
                </div>
                <div class="voucher-group">
                  <span class="voucher-label">Date</span>
                 
                  <span class="voucher-text">{{data.Date}}</span>
                </div>
              
                <div class="voucher-group">
                  <span class="voucher-label">Time</span>
                 
                  <span class="voucher-text">{{ invoice_time }}</span>
                </div>

                {% if data.OrderNo %}
                <div class="voucher-group">
                  {% if invoice_type == "sales_invoice" or invoice_type == "sales_estimate" or invoice_type == "sales_order" or invoice_type == "sales_return" %}
                  <span class="voucher-label">Order No.</span>
                  {% else %}
                  <span class="voucher-label">Reference No.</span>
                  {% endif %}
                  <span class="voucher-text">{{data.OrderNo}}</span>
                </div>
                {% endif %}
              
                {% comment %} <div class="voucher-group">
                  <span class="voucher-label">Place Of Supply:</span>
                 
                  <span class="voucher-text">{{data.Place_of_Supply}}</span>
                </div> {% endcomment %}
              </div>
              {% endif %}

            </td>
          </tr>
        </tbody>
      </table>
      <!-- <div class="item-heading"><span>Item List</span></div> -->
      <table class="item-table">
        <thead class="table-heading">
          <tr>
            {% if settings.IsSlNo %}
            <td>Sl No</td>
            {% endif %}

            {% if settings.IsProductCode %}
            <td>Product Code</td>
            {% endif %}

            {% if settings.IsProductName %}
            <td class="product-name">Product Name</td>
            {% endif %}

            {% if settings.IsBatchCode %}
            <td class="product-name">Batch Code</td>
            {% endif %}

            {% if invoice_type == "sales_invoice" %}
              {% if settings.IsExpiryDate or settings.IsManufacturingDate %}
              <td >{% if settings.IsManufacturingDate %}MFD {% endif %}  {% if settings.IsExpiryDate and settings.IsManufacturingDate %}- {% endif %}{% if settings.IsExpiryDate %} EXP {% endif %}</td>
              {% endif %}
            {% endif %}

            {% if settings.IsHSNCode and company.CountryName == "India" %}
            <td class="right">HSN Code</td>
            {% endif %}

            {% if settings.IsQuantity %}
            <td class="right">Quantity</td>
            {% endif %}

            {% if settings.IsRate %}
            <td class="right">Rate</td>
            {% endif %}

            {% if settings.IsGrossAmount %}
            <td class="right">Gross Amount</td>
            {% endif %}

            {% if settings.IsTax %}
            <td class="right">Tax</td>
            {% endif %}

            {% if settings.IsDiscount %}
            <td class="right">Discount</td>
            {% endif %}

            {% if settings.IsNetTotal %}
            <td class="right">Net Total</td>
            {% endif %}

        
          </tr>
        </thead>
        <tbody>
          {% if type == "pdf" %} {% for instance in details %}
          <tr>
            {% if settings.IsSlNo %}
            <td>{{ forloop.counter }}</td>
            {% endif %}

            {% if settings.IsProductCode %}
            <td>{{ instance.ProductCode }}</td>
            {% endif %}

            {% if settings.IsProductName %}
            <td><bdo class="product-name">{{ instance.ProductName }}</bdo>
            {% if instance.Description or instance.SerialNos %}
              <div class="product-details">
                {% if settings.IsProductDescription %}
                <span>{{instance.product_description}}</span>
                {% endif %}
                {% if settings.IsDescription %}
                <span>{{instance.Description}}</span>
                {% endif %}
                {% for serial_no in instance.SerialNos %}
                <span>{% if settings.IsSerialNo %} {{serial_no.SerialNo}} {% endif %} {% if settings.IsSerialNo and settings.IsItemCode %} - {% endif %}  {% if settings.IsItemCode %} {{serial_no.ItemCode}} {% endif %}</span>
                {% endfor %}
              </div>
            {% endif %}

            </td>
            {% endif %}

            {% if settings.IsBatchCode %}
            <td>{{ instance.BatchCode }}</td>
            {% endif %}

            {% if invoice_type == "sales_invoice" %}
              {% if settings.IsExpiryDate or settings.IsManufacturingDate %}
              <td >{% if settings.IsManufacturingDate %}{{ instance.ManufactureDatePrint }} {% endif %}  {% if settings.IsExpiryDate and settings.IsManufacturingDate %}- {% endif %}{% if settings.IsExpiryDate %} {{ instance.ExpiryDatePrint }} {% endif %}</td>
              {% endif %}
            {% endif %}

            {% if settings.IsHSNCode and company.CountryName == "India" %}
            <td class="right">{{ instance.HSNCode }}</td>
            {% endif %}

            {% if settings.IsQuantity %}
            <td class="right">{{ instance.Qty|floatformat:PriceRounding }} {% if settings.IsUnit %}
              <span class="right">{{ instance.UnitName }}</span>
              {% endif %}</td>
            
            {% endif %}

            {% if settings.IsRate %}
            <td class="right">{{ instance.UnitPrice|floatformat:PriceRounding }}
             
            </td>
            {% endif %}

            {% if settings.IsGrossAmount %}
            <td class="right">{{ instance.GrossAmount|floatformat:PriceRounding }}</td>
            {% endif %}

            {% if settings.IsTax %}
            <td class="right">{{ instance.TotalTax|floatformat:PriceRounding }}</td>
            {% endif %}

            {% if settings.IsDiscount %}
            <td class="right">{{ instance.DiscountAmount_print|floatformat:PriceRounding }}</td>
            {% endif %}

            {% if settings.IsNetTotal %}
            <td class="right">{{ instance.NetAmount|floatformat:PriceRounding }}</td>
            {% endif %}

         
          </tr>
          {% endfor %} 
          {% else %}
          <tr>
            {% if settings.IsSlNo %}
            <td>Sl No</td>
            {% endif %}

            {% if settings.IsProductCode %}
            <td>Product Code</td>
            {% endif %}

            {% if settings.IsProductName %}
            <td>ProductName
              <div class="product-details">
                {% if settings.IsProductDescription %}
                <span>Product Description</span>
                {% endif %}
                {% if settings.IsDescription %}
                <span>Description</span>
                {% endif %}
                
                <span>{% if settings.IsSerialNo %} Serial No {% endif %} {% if settings.IsSerialNo and settings.IsItemCode %} - {% endif %}  {% if settings.IsItemCode %} Item Code {% endif %}</span>
              </div>
            </td>
            {% endif %}


            {% if settings.IsBatchCode %}
            <td >Batch Code</td>
            {% endif %}

            {% if invoice_type == "sales_invoice" %}
              {% if settings.IsExpiryDate or settings.IsManufacturingDate %}
              <td >{% if settings.IsExpiryDate %}2020/25 {% endif %}  {% if settings.IsExpiryDate and settings.IsManufacturingDate %}- {% endif %}{% if settings.IsManufacturingDate %} 2021/25 {% endif %}</td>
              {% endif %}
             {% endif %}

            {% if settings.IsHSNCode and company.CountryName == "India"  %}
            <td class="right">HSN Code</td>
            {% endif %}

            {% if settings.IsQuantity %}
            <td class="right">Quantity
              <div class="product-details">
                {% if settings.IsUnit %}
                <span>Unit</span>
                {% endif %}
              </div>
            </td>
            {% endif %}

            {% if settings.IsRate %}
            <td class="right">Rate
            

            </td>
            {% endif %}

            {% if settings.IsGrossAmount %}
            <td class="right">Gross Amount</td>
            {% endif %}

            {% if settings.IsTax %}
            <td class="right">Tax</td>
            {% endif %}

            {% if settings.IsDiscount %}
            <td class="right">Discount</td>
            {% endif %}

            {% if settings.IsNetTotal %}
            <td class="right">Net Total</td>
            {% endif %}

          
          </tr>
          {% endif %}
        </tbody>
      </table>
      <div class="bottom-group">

          <div class="payment-details">
            <div class="amount-in-words">
              <table>
                <tbody>
                  <tr>
                    <td class="heading">Amount In Words</td>
                  </tr>
                  {% if type == "pdf" %}
                  <tr>
                    <td>{{amount_in_words}} {{country.Currency_Name}}</td>
                  </tr>
                  {% else %}
                  <tr>
                    <td>one hundred fifty {{country.Currency_Name}}</td>
                  </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
            {% if settings.Notes %}
            <div class="note-details">
                <table>
                  <tbody>
                    <tr>
                      <td>Bank Details</td>
                    </tr>
                    <tr>
                      <td class="note">{{settings.Notes | linebreaks}}</td>
                    </tr>
                  
                  </tbody>
                </table>
            </div>
            {% endif %}
          </div>


        <div class="amount-group">
          <table>
            {% if type != "pdf" %}
            <tbody>
              <tr>
                <td>Gross Amount:</td>
                <td class="right">{{country.Symbol}}. 100000.00</td>
              </tr>
              <tr>
                <td>Bill Discount:</td>
                <td class="right">{{country.Symbol}}. 100000.00</td>
              </tr>
              <tr>
                <td>Total Tax:</td>
                <td class="right">{{country.Symbol}}. 100000.00</td>
              </tr>
              <tr>
                <td>Round off:</td>
                <td class="right">{{country.Symbol}}. 100000.00</td>
              </tr>
              <tr>
                <td class="grand-total">Grand Total:</td>
                <td class="right">{{country.Symbol}}. 100000.00</td>
              </tr>
              {% if settings.IsTenderCash %}
              <tr>
                <td class="grand-total">Tender Cash:</td>
                <td class="right">{{country.Symbol}}. 100000.00</td>
              </tr>
              {% endif %}
              {% else %}
              <tbody>
                {% if data.ShippingCharge|to_float > 0 %}
                <tr>
                  <td>Shipping Charge:</td>
                  <td class="right">{{country.Symbol}}. {{data.ShippingCharge|floatformat:PriceRounding}}</td>
                </tr>
                {% endif %}
                {% if data.GrossAmt_print|to_float > 0 %}
                <tr>
                  <td>Gross Amount:</td>
                  <td class="right">{{country.Symbol}}. {{data.GrossAmt_print|floatformat:PriceRounding}}</td>
                </tr>
                {% endif %}

                {% if data.BillDiscAmt|to_float > 0 %}
                <tr>
                  <td>Bill Discount:</td>
                  <td class="right">{{country.Symbol}}. {{data.BillDiscAmt|floatformat:PriceRounding}}</td>
                </tr>
                {% endif %}

                {% comment %} {% if data.TotalTax_print|to_float > 0 %}
                <tr>
                  <td>Total Tax:</td>
                  <td class="right">{{country.Symbol}}. {{data.TotalTax_print|floatformat:PriceRounding}}</td>
                </tr>
                {% endif %} {% endcomment %}

                {% if data.RoundOff|to_float > 0 %}
                <tr>
                  <td>Round off:</td>
                  <td class="right">{{country.Symbol}}. {{data.RoundOff|floatformat:PriceRounding}}</td>
                </tr>
                {% endif %}
                {% if data.VATAmount_print and  company.CountryName != "India" and data.VATAmount_print|to_float > 0 %}
                <tr>
                  <td>Total VAT:</td>
                  <td class="right">{{country.Symbol}}. {{data.VATAmount_print|floatformat:PriceRounding}}</td>
                </tr>
                {% endif %}
                
                
                {% if company.CountryName == "India" %}
                  {% for i in data.SGST_final_list %}
                    {% if i.val|to_float > 0 %}
                    <tr>
                      <td class="grand-total">SGST - {{i.key|floatformat:PriceRounding}}%:</td>
                      <td class="right">{{country.Symbol}}. {{i.val|floatformat:PriceRounding}}</td>
                    </tr>
                    {% endif %}
                  {% endfor %}

                  {% for i in data.SGST_final_list %}
                   {% if i.val|to_float > 0 %}
                  <tr>
                    <td class="grand-total">CGST - {{i.key|floatformat:PriceRounding}}%:</td>
                    <td class="right">{{country.Symbol}}. {{i.val|floatformat:PriceRounding}}</td>
                  </tr>
                    {% endif %}
                  {% endfor %}

                  {% for i in data.IGST_final_list %}
                   {% if i.val|to_float > 0 %}
                  <tr>
                    <td class="grand-total">IGST - {{i.key|floatformat:PriceRounding}}%:</td>
                    <td class="right">{{country.Symbol}}. {{i.val|floatformat:PriceRounding}}</td>
                  </tr>
                    {% endif %}
                  {% endfor %}
                {% endif %}

                <tr>
                  <td class="grand-total">Grand Total:</td>
                  <td class="right">{{country.Symbol}}. {{data.GrandTotal_print|floatformat:PriceRounding}}</td>
                </tr>
                {% if settings.IsTenderCash %}
                <tr>
                  <td class="grand-total">Tender Cash:</td>
                  <td class="right">{{country.Symbol}}. {{data.GrandTotal_print|floatformat:PriceRounding}}</td>
                </tr>
                {% endif %}
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    
     
      <div class="bottom-content">
        <div class="terms-and-conditions">
          {% if settings.TermsAndConditions %}
          <label>Terms & Conditions</label>
          <p>
          {{settings.TermsAndConditions | linebreaks}}
        </p>
          {% elif type != "pdf" %}
          <label>Terms & Conditions</label>
          <p>
            Your company's Terms and Conditions will be displayed here. You can
            add it in the Invoice Preferences page under Settings.
          </p>
          {% endif %}
        </div>
        {% if settings.IsReceiverSignature %}
        <div class="signature receiver">
          <label>Receiver's Signature</label>
        </div>
        {% endif %}
        {% if settings.IsAuthorizedSinature %}
        <div class="signature">
          <label>Authorized Signature</label>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="footer"></div>
  </body>
</html>
{% if print_template %}
<script>
  window.print()
</script>
{% endif %}
{% endinlinecss %}
