
{% load inlinecss %} {% inlinecss "onetimepassword.css" %} {% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>{{subject}}</title>
  </head>
  <body>
    <div id="main">
      <div id="top">
        <div id="header">
          <div class="center">
            <table>
              <tr>
                <td class="td35">
                  <h1 id="logo">
                    <a href="http://www.viknbooks.com/"
                      ><img
                        src="https://www.erp.vikncodes.com/static/images/icons/logo.png"
                    /></a>
                  </h1>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div id="spotlight">
          <h2>
            <img
              class="messege"
              src="https://www.erp.vikncodes.com/static/images/icons/messege.png"
            />
            <b>You're Invited</b>
          </h2>
        </div>
      </div>
      <div id="content">
        <div class="contentInner">
          <p class="username">Hi <b>{{current_user}}</b>,</p>
          <p>
            You've Been Invited To Join Viknbooks By {{invited_user.username}} To Join 
                {{CompanyID.CompanyName}} As {{userType.UserTypeName}}. Please Click The Link Below To 
                Accept The Invitation. If Not, Ignore This E-Mail.
          </p>
          <!-- <p class="token">{{token}}</p>
          <p>or</p> -->
          <p>
            <a href="{{invite_link}}" class="verify"
              >ACCEPT INVITATION</a
            >
          </p>

          <div class="bottom">
            <p>Thank You,</p>
            <p>Team Viknbooks</p>
          </div>
        </div>
      </div>
      <div id="footer">
        <p>
          <b>Get in Touch</b>
        </p>
        <p>
          <a href="tel:+919775700400">+91-9775700400</a>
        </p>
        <p>
          <a href="mailto:info@vikncodes.com">info@vikncodes.com</a>
        </p>
        <div class="social">
          <a href="https://www.instagram.com/vikncodes/?hl=en" target="_blank"
            ><img
              src="https://www.erp.vikncodes.com/static/images/icons/instagram.png"
          /></a>
          <a href="https://www.facebook.com/vikncodesllp" target="_blank"
            ><img
              src="https://www.erp.vikncodes.com/static/images/icons/facebook.png"
          /></a>
          <a href="https://twitter.com/vikncodes?s=11" target="_blank"
            ><img
              src="https://www.erp.vikncodes.com/static/images/icons/twitter.png"
          /></a>
          <a href="" target="_blank"
            ><img
              src="https://www.erp.vikncodes.com/static/images/icons/youtube.png"
          /></a>
          <a
            href="https://www.linkedin.com/company/vikncodes/mycompany/"
            target="_blank"
            ><img
              src="https://www.erp.vikncodes.com/static/images/icons/linkedin.png"
          /></a>
        </div>
      </div>
      <div id="bottom-footer">
        <p>
          &copy; {% now "Y" %}
          <a href="https://vikncodes.com/" target="_blank">Vikn Codes LLP.</a>
          All rights reserved
        </p>
      </div>
    </div>
    <script>
      function copyToken(text) {
        navigator.clipboard.writeText(text);
      }
    </script>
  </body>
</html>
{% endinlinecss %}
