{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}

<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">
            
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">UBold</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">eCommerce</a></li>
                                <li class="breadcrumb-item active">{{title}}</li>
                            </ol>
                        </div>
                        <h4 class="page-title">{{title}} - {{instance.EmployeeName}}</h4>
                    </div>
                </div>
            </div>     
            <!-- end page title --> 

            <div class="row">
                <div class="col-12">
                    <div class="card-box">

                        <div class="row mb-2">
                                <div class="col-md-12">
                                    <div class="text-md-right">
                                        <a href="{% url 'payrolls:edit_employee' pk=instance.pk %}" class="btn btn-info waves-effect waves-light mb-2 mr-2"><i class="mdi mdi-pencil mr-1"></i>Edit {{title}}</a>

                                        <a data-id="{{instance.pk}}" href="{% url 'payrolls:delete_employee' pk=instance.pk %}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" class="action-button remove btn btn-info waves-effect waves-light mb-2 mr-2 redirect"><i class="mdi mdi-delete mr-1"></i>Delete {{title}}</a>

                               

                                    </div>
                                </div><!-- end col-->
                            </div>

                        <div class="table-responsive mt-4">
                            <table class="table table-bordered table-centered mb-0">
                                <tbody>
                                    <tr>
                                        <td>EmployeeID</td>
                                        <td>{{instance.EmployeeID}}</td>
                                    </tr>
                                    <tr>
                                        <td>BranchID</td>
                                        <td>{{instance.BranchID}}</td>
                                    </tr>
                                    <tr>
                                        <td>Action</td>
                                        <td>{{instance.Action}}</td>
                                    </tr>
                                    <tr>
                                        <td>EmployeeCode</td>
                                        <td>{{instance.EmployeeCode}}</td>
                                    </tr>
                                    <tr>
                                        <td>FirstName</td>
                                        <td>{{instance.FirstName}}</td>
                                    </tr>
                                    <tr>
                                        <td>LastName</td>
                                        <td>{{instance.LastName}}</td>
                                    </tr>
                                    <tr>
                                        <td>LedgerID</td>
                                        <td>{{instance.LedgerID}}</td>
                                    </tr>
                                    <tr>
                                        <td>ProbationPeriod</td>
                                        <td>{{instance.ProbationPeriod}}</td>
                                    </tr>
                                    <tr>
                                        <td>PeriodType</td>
                                        <td>{{instance.periodType}}</td>
                                    </tr>
                                    <tr>
                                        <td>NoCasualLeave</td>
                                        <td>{{instance.NoCasualLeave}}</td>
                                    </tr>
                                    <tr>
                                        <td>DesignationID</td>
                                        <td>{{instance.DesignationID}}</td>
                                    </tr>
                                    <tr>
                                        <td>Gender</td>
                                        <td>{{instance.Gender}}</td>
                                    </tr>
                                    <tr>
                                        <td>DateOfJoining</td>
                                        <td>{{instance.DateOfJoining}}</td>
                                    </tr>
                                    <tr>
                                        <td>Salary</td>
                                        <td>{{instance.Salary}}</td>
                                    </tr>
                                    <tr>
                                        <td>Notes</td>
                                        <td>{{instance.Notes}}</td>
                                    </tr>
                                    <tr>
                                        <td>Qualification</td>
                                        <td>{{instance.Qualification}}</td>
                                    </tr>
                                    <tr>
                                        <td>BloodGroup</td>
                                        <td>{{instance.BloodGroup}}</td>
                                    </tr>
                                    <tr>
                                        <td>DateOfBirth</td>
                                        <td>{{instance.DateOfBirth}}</td>
                                    </tr>
                                    <tr>
                                        <td>Nationality</td>
                                        <td>{{instance.Nationality}}</td>
                                    </tr>
                                    <tr>
                                        <td>PassportNo</td>
                                        <td>{{instance.PassportNo}}</td>
                                    </tr>
                                    <tr>
                                        <td>PassportExpiryDate</td>
                                        <td>{{instance.PassportExpiryDate}}</td>
                                    </tr>
                                    <tr>
                                        <td>VisaDetails</td>
                                        <td>{{instance.VisaDetails}}</td>
                                    </tr>
                                    <tr>
                                        <td>VisaExpiryDate</td>
                                        <td>{{instance.VisaExpiryDate}}</td>
                                    </tr>
                                    <tr>
                                        <td>Address1</td>
                                        <td>{{instance.Address1}}</td>
                                    </tr>
                                    <tr>
                                        <td>Address2</td>
                                        <td>{{instance.Address2}}</td>
                                    </tr>
                                    <tr>
                                        <td>Address3</td>
                                        <td>{{instance.Address3}}</td>
                                    </tr>
                                    <tr>
                                        <td>State</td>
                                        <td>{{instance.State}}</td>
                                    </tr>
                                    <tr>
                                        <td>Post</td>
                                        <td>{{instance.Post}}</td>
                                    </tr>
                                    <tr>
                                        <td>Phone</td>
                                        <td>{{instance.Phone}}</td>
                                    </tr>
                                    <tr>
                                        <td>Mobile</td>
                                        <td>{{instance.Mobile}}</td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td>{{instance.Email}}</td>
                                    </tr>
                                    <tr>
                                        <td>CreatedDate</td>
                                        <td>{{instance.CreatedDate}}</td>
                                    </tr>
                                    <tr>
                                        <td>CreatedUserID</td>
                                        <td>{{instance.CreatedUserID}}</td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>

                    </div> <!-- end card-->
                </div> <!-- end col-->
            </div>
            <!-- end row-->
            
        </div> <!-- container -->

    </div> <!-- content -->
{% endblock %}