<!DOCTYPE html>
<html lang="en">
{% load static i18n %}
{% load pwa %}
    <head>
        {% progressive_web_app_meta %}

        <meta charset="utf-8" />
        <title>Dashboard | UBold - Responsive Admin Dashboard Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

        <!-- Plugins css -->
        <link href="{% static 'libs/flatpickr/flatpickr.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'libs/selectize/css/selectize.bootstrap3.css' %}" rel="stylesheet" type="text/css" />
        
        <!-- App css -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" id="bs-default-stylesheet" />
        <link href="{% static 'css/app.min.css' %}" rel="stylesheet" type="text/css" id="app-default-stylesheet" />

        <link href="{% static 'css/bootstrap-dark.min.css' %}" rel="stylesheet" type="text/css" id="bs-dark-stylesheet" />
        <link href="{% static 'css/app-dark.min.css' %}" rel="stylesheet" type="text/css" id="app-dark-stylesheet" />
        {% if is_need_switchery %}
        <link href="{% static 'libs/mohithg-switchery/switchery.min.css' %}" rel="stylesheet" type="text/css" />
        {% endif %}
        <!-- icons -->
        <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'libs/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />

    </head>

    <body class="loading" data-layout='{"mode": "light", "width": "fluid", "menuPosition": "fixed", "sidebar": { "color": "light", "size": "default", "showuser": false}, "topbar": {"color": "dark"}, "showRightSidebarOnPageLoad": true}'>

        <!-- Begin page -->
        <div id="wrapper">

            <!-- Topbar Start -->
            {% include 'includes/top_menu.html' %}
            <!-- end Topbar -->

            <!-- ========== Left Sidebar Start ========== -->
            {% include 'includes/left_menu.html' %}
            <!-- Left Sidebar End -->

{% block content %} 
{% endblock %}

             <!-- Footer Start -->
                <footer class="footer" {% if is_superuser %} style="left: 0"; {% endif %}>
                    <div class="container-fluid">
                        <div class="row">
                                2015 - <script>document.write(new Date().getFullYear())</script> &copy; UBold theme by <a href="">Coderthemes</a> 
                            <div class="col-md-6">
                                <div class="text-md-right footer-links d-none d-sm-block">
                                    <a href="javascript:void(0);">About Us</a>
                                    <a href="javascript:void(0);">Help</a>
                                    <a href="javascript:void(0);">Contact Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- end Footer -->

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->
                <!-- Page Loader -->
        <div class="page-loader palette-Teal bg">
            <div class="preloader pl-xl pls-white">
                <svg class="pl-circular" viewBox="25 25 50 50">
                    <circle class="plc-path" cx="50" cy="50" r="20"/>
                </svg>
            </div>
        </div>

        <!-- Right Sidebar -->
        {% include 'includes/right_menu.html' %}
        <!-- /Right-bar -->

        <!-- Right bar overlay-->
        <div class="rightbar-overlay"></div>

        <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
        <!-- Vendor js -->
        <script src="{% static 'js/vendor.min.js' %}"></script>

        <!-- Plugins js-->
        {% if is_need_flatpickr %}
        <script src="{% static 'libs/flatpickr/flatpickr.min.js' %}"></script>
        {% endif %}
        {% if is_need_apexcharts %}
        <script src="{% static 'libs/apexcharts/apexcharts.min.js' %}"></script>
        {% endif %}
        {% if is_need_selectize %}
        <script src="{% static 'libs/selectize/js/standalone/selectize.min.js' %}"></script>
        {% endif %}
        <!-- Dashboar 1 init js-->
        {% if is_need_dashboard %}
        <script src="{% static 'js/pages/dashboard-1.init.js' %}"></script>
        {% endif %}
        {% if is_need_bootstrap_wizard %}
        <script src="{% static 'libs/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js' %}"></script>
        {% endif %}

        <!-- Init js-->
        {% if is_need_form_wizard %}
        <script src="{% static 'js/pages/form-wizard.init.js' %}"></script>
        {% endif %}
        <!-- App js-->
        <script src="{% static 'js/app.min.js' %}"></script>

         <!-- Sweet Alerts js -->
        <script src="{% static 'libs/sweetalert2/sweetalert2.min.js' %}"></script>

        <!-- Sweet alert init js-->
        <script src="{% static 'js/pages/sweet-alerts.init.js' %}"></script>
        <!-- Sweet alert init js-->

        <script src="{% static 'js/actions.js' %}"></script>
        {% if is_need_formset %}
        <script src="{% static 'js/jquery.formset.js' %}" type="text/javascript"></script>
        {% endif %}
        {% if is_need_switchery %}
        <script src="{% static 'libs/mohithg-switchery/switchery.min.js' %}"></script>
        {% endif %}
        <script src="{% static 'js/functions.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/dynamic-form.js' %}"></script>
    </body>
    <script>document.body.className='js';</script>
</html>