{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}

<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">
            
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">UBold</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">eCommerce</a></li>
                                <li class="breadcrumb-item active">{{title}}</li>
                            </ol>
                        </div>
                        <h4 class="page-title">{{title}} - {{instance.Name}}</h4>
                    </div>
                </div>
            </div>     
            <!-- end page title --> 

            <div class="row">
                <div class="col-12">
                    <div class="card-box">

                        <div class="row mb-2">
                                <div class="col-md-12">
                                    <div class="text-md-right">
                                        <a href="{% url 'accounts:edit_bank' pk=instance.pk %}" class="btn btn-info waves-effect waves-light mb-2 mr-2"><i class="mdi mdi-pencil mr-1"></i>Edit {{title}}</a>

                                        <a data-id="{{instance.pk}}" href="{% url 'accounts:delete_bank' pk=instance.pk %}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" class="action-button remove btn btn-info waves-effect waves-light mb-2 mr-2 redirect"><i class="mdi mdi-delete mr-1"></i>Delete {{title}}</a>

                               

                                    </div>
                                </div><!-- end col-->
                            </div>

                        <div class="table-responsive mt-4">
                            <table class="table table-bordered table-centered mb-0">
                                <tbody>
                                    <tr>
                                        <td>Bank ID</td>
                                        <td>{{instance.BankID}}</td>
                                    </tr>
                                    <tr>
                                        <td>Ledger Code</td>
                                        <td>{{instance.LedgerCode}}</td>
                                    </tr>
                                    <tr>
                                        <td>Name</td>
                                        <td>{{instance.Name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Account Number</td>
                                        <td>{{instance.AccountNumber}}</td>
                                    </tr>
                                    <tr>
                                        <td>Cr or Dr</td>
                                        <td>{{instance.CrOrDr}}</td>
                                    </tr>
                                    <tr>
                                        <td>Branch Code</td>
                                        <td>{{instance.BranchCode}}</td>
                                    </tr>
                                    <tr>
                                        <td>IFSC Code</td>
                                        <td>{{instance.IFSCCode}}</td>
                                    </tr>
                                    <tr>
                                        <td>MICR Code</td>
                                        <td>{{instance.MICRCode}}</td>
                                    </tr>
                                    <tr>
                                        <td>Status</td>
                                        <td>{{instance.Status}}</td>
                                    </tr>
                                    <tr>
                                        <td>Opening Balance</td>
                                        <td>{{instance.OpeningBalance}}</td>
                                    </tr>
                                    <tr>
                                        <td>Address</td>
                                        <td>{{instance.Address}}</td>
                                    </tr>
                                    <tr>
                                        <td>Notes</td>
                                        <td>{{instance.Notes}}</td>
                                    </tr>
                                    <tr>
                                        <td>City</td>
                                        <td>{{instance.City}}</td>
                                    </tr>
                                    <tr>
                                        <td>State</td>
                                        <td>{{instance.State}}</td>
                                    </tr>
                                    <tr>
                                        <td>Country</td>
                                        <td>{{instance.Country}}</td>
                                    </tr>
                                    <tr>
                                        <td>Postal Code</td>
                                        <td>{{instance.PostalCode}}</td>
                                    </tr>
                                    <tr>
                                        <td>Phone</td>
                                        <td>{{instance.Phone}}</td>
                                    </tr>
                                    <tr>
                                        <td>Mobile</td>
                                        <td>{{instance.Mobile}}</td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td>{{instance.Email}}</td>
                                    </tr>
                                    <tr>
                                        <td>Created Date</td>
                                        <td>{{instance.CreatedDate}}</td>
                                    </tr>
                                    <tr>
                                        <td>Action</td>
                                        <td>{{instance.Action}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div> <!-- end card-->
                </div> <!-- end col-->
            </div>
            <!-- end row-->
            
        </div> <!-- container -->

    </div> <!-- content -->
{% endblock %}