/*salafinikah.com sprdh.com */
html,
body {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
#main {
  width: 500px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
#top {
  /*background: url(http://www.tegain.com/static/web/images/spotlight-bg.jpg);*/
  /*background-color:#28233a;*/
  background-size: cover;
  background: #1f539d;
}
br.clear {
  clear: both;
}
#header {
  /*background: url(http://www.tegain.com/static/web/images/tr.png) repeat-x bottom left;*/
  padding: 10px 0;
  background: #fff;
  text-align: center;
}
#header h1 {
  display: inline-block;
  padding: 0;
  margin: 0;
  text-align: left;
}
#header h1 img {
  width: 100%;
  height: auto;
}
#header div.right {
  display: inline-block;
  margin-top: 30px;
}
#header .social a {
  float: right;
  margin-left: 8px;
}
#header a.website {
  float: right;
  color: #fff;
  margin-top: 8px;
}
.center {
  width: 90%;
  padding: 0 5%;
}
#spotlight {
  color: #fff;
  padding: 30px;
  text-align: center;
}
#spotlight h2 {
  font-size: 16px;
  font-weight: normal;
}
#spotlight h2 span {
  margin-bottom: 5px;
  display: block;
}
#spotlight h2 b {
  font-size: 24px;
  display: block;
  margin-bottom: 15px;
}
p {
  line-height: 1.6em;
}
.messege{
	width: 150px;
	margin: 0 auto 15px;
}
.token {
  background: #d4d4d4;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
.verify {
  background: #f76601;
  color: #fff;
  padding: 10px 25px;
  border-radius: 3px;
  font-size: 12px;
}
#content {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  padding: 20px 0;
}
.contentInner {
  width: 80%;
  padding: 0 10%;
  text-align: center;
}
.username {
  font-weight: bold;
}
#content .bottom p {
  margin: 0;
}
#footer {
  background: #1e1e1e;
  color: #fff;
  padding: 5%;
  text-align: center;
}
#footer a {
  color: #ffffff;
}
#footer p {
  margin: 0;
  font-size: 12px;
}
.td35 {
  width: 35%;
}
.td65 {
  text-align: right;
  width: 65%;
}
#bottom-footer {
  background: #1f539d;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}
#bottom-footer p {
  margin: 0;
}
#bottom-footer p a {
	color: #fff;
  }
.social {
	margin: 10px 0;
	display: inline-block;
}
.social a {
	display: inline-block;
	margin-right: 5px;
}
.social a:last-child{
	margin-right: 0;
}
.social img{
    width: 30px;
}