* {
  font-family: "Poppins";
}
body {
  font-family: "Poppins";
  background: #fff;
  margin: 0;
  /* width: 210mm;
    height: 297mm; */
  height: auto;
  /* border: 1px solid #000; */
  margin: 0 auto;
}
.header {
  padding: 0 0.2in 0 0.2in;
  height: 0.1in;
}
.body {
  padding: 0 0.2in 0 0.2in;
}
.footer {
  padding: 0 0.2in 0 0.2in;
  height: 0.1in;
}
.empty {
  display: table-cell;
  content: " ";
  width: 100%;
}
@page {
  size: A4 portrait;
  margin: 0;
}
table {
  width: 100%;
}
.image-container {
  width: 120px;

  margin-right: 10px;
}
.image-container img {
  width: 100%;
}
.image-group {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.organisation-info {
  display: flex;
  flex-direction: column;
}
.organisation-info span {
  margin-bottom: 3px;
}
.organisation-other-info {
  font-size: 9pt;
}
.address {
  width: 250px;
  display: block;
}

.organisation-name {
  text-transform: capitalize;
  font-size: 14pt;
  font-weight: bold;
}
.invoice-info span.invoice-name {
  font-size: 16pt !important;
  font-weight: bold;
  letter-spacing: 2px;
  display: inline-block;
  border-bottom:1px solid #025191;
}

.invoice-details {
  text-align: right;
  vertical-align: baseline;
}
.invoice-info {
  display: block;
  flex-direction: column;
}
.invoice-info span {
  font-size: 9pt;
}
.invoice-name-container {
  margin-bottom: 5px;
}
.organization-info {
  display: flex;
  justify-content: flex-end;
}
.organization-info span {
  font-size: 9pt;
  margin-bottom: 5px;
}
.item-heading {
  font-weight: bold;
  font-size: 16px;
  margin: 3px 0 3px;
}
.item-header-container td{
  border: 1px solid #707070;
  padding: 2px;
}
.table-heading bdo {
  display: block;
  font-weight: bold;
}
.table-heading bdo.arabic {
  display: block;
  font-weight: normal;
  font-size: 9pt;
}
.table-heading tr td {
  color: #000;
  background: #fff;
  font-size: 9pt;
  vertical-align: baseline;
  line-height: 14px;
}
.voucher-group {
  font-size: 9pt;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  white-space: nowrap;
}
.voucher-label {
  font-weight: bold;
}
.voucher-info {
  width: 260px;
  margin-left: auto;
}
.item-table {
  margin-bottom: 5px;
  border-collapse: collapse;
}
.item-table thead tr td {
  padding: 2px 2px 2px 2px;
  white-space: nowrap;
}

.item-table tbody tr td {
  padding: 0px 2px 0px 2px;
  font-size: 9pt;
  vertical-align: baseline;
}
.product-name {
  font-family: "Poppins";
}
.payment-details .heading {
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.payment-details .heading {
  font-size: 9pt;
}
.sign-name-container{
  text-align: center;
  margin-top: 30px;
}
.sign-name-container p{
  margin: unset;
}
.file-container:first-child{
  position: absolute;
  z-index: -1;
}
.file-container{
  background: #f0ffff00;
}
.file-container img{
  display: inline-block;
  width: 120px;

}
.bottom-group {
  /* border-top: 1px solid #466daf; */
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 10px;
}
tr.item-container td{
  border: 1px solid #707070;
}
.bottom-group tr td {
  padding-bottom: 0px;
  font-size: 9pt;
}

.payment-details {
  padding-top: 10px;
  width: 35%;
}
.note-details {
  padding-top: 10px;
  width: 50%;
}
.note-details tr td {
  padding-bottom: 0px;
  font-size: 9pt;
}
.note-details .heading {
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.note-details .heading {
  font-size: 9pt;
}
.amount-group {
  padding-top: 10px;
  width: 40%;
  display: flex;
  align-items: flex-end;
}
.grand-total {
  font-weight: bold;
}

.right {
  text-align: right;
}
.amount-in-words {
  text-transform: capitalize;
  display: flex;
  justify-content: flex-end;
}
.amount-in-words table {
  width: 100%;
}
.amount-in-words table tr {
  display: block;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.amount-in-words table tr td {
  font-size: 9pt;
}
.amount-in-words table tr td.heading {
  color: #000;
  padding: 0px 0 5px;
  font-size: 10pt;
  font-weight: bold;
}
.amount-in-words table tr td.sub-heading {
  font-weight: bold;
}
.amount-in-words table tr td.sub-heading:last-child {
border-bottom: 1px solid black;
}
.terms-and-conditions label {
  border-bottom: 1px solid;
  font-size: 9pt;
}
.bottom-content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.terms-and-conditions p {
  font-size: 9pt;
}
.terms-and-conditions {
  width: 50%;
}
.signature {
  font-size: 9pt;
  display: flex;
  align-items: flex-end;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.signature label {
  display: block;
}
.product-details span {
  display: block;
}
.qr-code {
  width: 110px;
  height: 110px;
  border-radius: 10px;
  display: block;
}
.organization-details {
  margin-right: 10px;
  padding-top: 10px;
}
.organization-details span {
  display: block;
}
.invoice-details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
bdo {
  unicode-bidi: normal;
}
.organisation-other-info.description {
  font-size: 14pt;
}
.w-9 {
  width: 9%;
}
.bold {
  font-weight: bold;
}
.amount-words-container{
  /* background: #000000; */
  /* border: 1px solid black; */
  box-shadow: inset 0 -3em 3em rgb(0 0 0 / 10%), 0 0 0 2px rgb(235 235 235), 0.3em 0.3em 1em rgb(0 0 0 / 30%);
  display: flex;
  justify-content: space-between;
  padding: 8px;
  font-size: 14px;
}